{# This graphId must be unique for this report #}
<h2 piwik-enriched-headline
    data-graph-id="VisitsSummary.getEvolutionGraph"
        >{{ 'General_EvolutionOverPeriod'|translate }}</h2>

{{ graphEvolutionVisitsSummary|raw }}

{% include "@SWDVisitsSummary/_sparklines.twig" %}
